
.modal {
  display: block; /* Visible by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  overflow: hidden;
  background-color: rbg(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  color: #000;
  font-family: Arial;
}

.modal_content {
  background-color: #eee;
  position: fixed;
  padding: 5px;
  border: 3px solid #888;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.modal_header {
  padding-top: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #888;
}

.modal_body {
  text-align: left;
  font-size: 1em;
  padding: 10px;

}

.modal_footer {
  float: right;
  padding: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_footer > button {
  min-width: 60px;
  min-height: 25px;
  front-size: 12;
  background-color: rgb(50, 120, 200);
  color: white;
  margin: 5px;
}
