body .lm_content{
  overflow-y: hidden;
  height: inherit;
}

.lm_content > div > div > div {
  height: 100%;
  width: 100%;
}

.lm_content > div > div {
  height: 100%;
  width: 100%;
}

.lm_content > div > div > div > div {
  height: 100%;
  width: 100%;
}

.lm_content > div > div > div > div > div {
  height: 100%;
  width: 100%;
}

svg + div {
  height: auto !important;;
  width: auto !important;;
}

.lm_content > div {
  height: 100%;
  width: 100%;
}

.lm_root {
  padding-top: 3px;
}
