html, body {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0pt;
}

#root {
 height: 100%;
 max-height: 100%;
 min-height: 100%;
}

.loader {
  border: 3px solid #000000;
  border-radius: 50%;
  border-top: 3px solid #f3f3f3;
  width: 25px;
  height: 25px;
  aspect-ratio: 1 / 1;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
