
.parameter {
  margin: 10px;
  font-size: 12pt;
}

.parameter > label {
  font-weight: bold;
}

.parameter > input {
  margin-left: 10px;
  font-size: 12pt;
}

.invalid {
  background-color: rgb(255, 200, 200);
}
