.table {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  color: #eee;
  text-align: center;
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}

.row > th {
  font-size: 12px;
  //font-variant: small-caps;
  font-weight: bold
}

.row > th > button {
  font-size: 12px;
  color: #eee;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline:none;
}

.ascending::after {
  content: '⤵';
  display: inline-block;
  margin-left: 2px;
}

.descending::after {
  content: '⤴';
  display: inline-block;
  margin-left: 2px;
}


.row > td {
  font-size: 10px;
}

.row > th, .row > td {
  padding: 2px;
}

.row > th {
  border-bottom: 1px solid #eee;
}

.row:hover {
  background-color: #333333;
}

.primary_selected {
  composes: row;
  background-color: #1e566bff;
  font-weight: bold;
}

.primary_selected:hover {
  background-color: #226677;
}

.secondary_selected {
  composes: row;
  background-color: #6b211eff;
}

.secondary_selected:hover {
  background-color: #773322;
}

.marked {
  composes: row;
  color: #d1802e;
}

.highlight {
  composes: row;
  color: #fc9403;
}

.subtle_highlight {
  composes: row;
  color: #f7c47c;
}
