
.notes {
  color: #FFF;
  font-family: Arial;
  background-color: #222222;
  padding: 0px;
  margin: 0px;
  border-top: 5px solid #000000;
}

.notes > p {
  font-size: 10pt;
  margin: 3pt;
  text-align: left;
  min-height: 1em;
}
