
.footer {
  color: #FFF;
  font-family: Arial;
  background-color: #222222;
  padding: 0px;
  margin: 0px;
  border-top: 5px solid #000000;
}

.footer > p {
  font-size: 10pt;
  margin: 0;
  padding: 3pt 10pt;
  text-align: right;
  min-height: 1em;
}
