
.context_menu_area {
  display: inline-block; /* Visible by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 4px #d9d9d9;
  background-color: #000;
  border-radius: 3px;
  color: #FFF; /* text color, white */
  font-family: Arial;
}

.context_menu_area > ul {
  background-color: #000;
  width: 100px;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.context_menu_area > ul > li {
  color: #FFF;
};

.context_menu_area > .active {
  color: #000;
  background-color: #fff;
}
