
.progressbar {
  width: 100%;
  height: 1.5em;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 0px;
  background-color: #FFF;
}

.progressbar_interior {
  width: 0%; /* Start with a zero percent width */
  height: inherit;
  background-color: rgb(50, 120, 200);
  position: relative;
}

.progressbar_interior > div {
  text-align: center;
  width: 100%;
  padding-top: 0.25em;
  position: absolute;
}

.progressbar_continuous {
  composes: progressbar;
  position: relative;
  background-color: rgb(50, 120, 200, 0.3);
}

.inc {
  animation: increase 2s linear 0s infinite alternate;
}

@keyframes increase {
  0% { left: 0%; width: 25%; }
  100% { left: 75%; width: 25%; }
}
